html,
body {
  margin: 0;
  overscroll-behavior: none;
  overflow: hidden; /* если контент не должен скроллиться */
  /* position: fixed; */
  /* width: 100%;
  height: 100%; */
  background-color: #191921;
  color: #e0d1fa;
}
h3 {
  padding: 0px;
  margin: 0px;
}
input {
  background: #0f0f1a;
  border: 1px solid #30304d;
  color: #fff;
  padding: 6px;
  border-radius: 8px;
  width: 80px;
}
button {
  color: #e0d1fa;
  border: none;
  border-radius: 4px;
  background: linear-gradient(to bottom, #020aff, #001848);
  box-shadow:
    0 4px 10px rgba(0, 0, 0, 0.3),
    inset 0 2px 4px rgba(255, 255, 255, 0.8);
  cursor: pointer;
  transition:
    transform 0.1s,
    box-shadow 0.2s,
    filter 0.2s;
  font-size: 16px;
}

button:active {
  transform: scale(0.96);
  box-shadow:
    0 0 20px rgba(1, 1, 126, 0.9),
    0 0 40px rgba(0, 150, 255, 0.7);
  filter: brightness(1.2);
}

main {
  /* border: 2px solid #36e835; */
  position: fixed;
  width: 100%;
  height: 100%;
  inset: 0;
}

div[id^="block-"] {
  /* border: 2px solid red; */
  height: 100vh;
  box-sizing: border-box;
  padding: 10px;
}

#block-menu {
  /* border: 2px solid #3565e8; */
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#menu-stats {
  flex: 1;
  /* border: 2px solid red; */
}
#menu-buttons {
  flex: 1;
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-buttons button {
  min-height: 40px;
  max-height: 60px;
  flex-grow: 1;
  width: 90%;
  margin: 10px 0;
}

@media (orientation: landscape) {
  #block-menu {
    flex-direction: row;
  }

  #menu-stats,
  #menu-buttons {
    flex: 1;
    height: auto;
  }
}
/* --------- */

.search-add {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.search-add input {
  width: 90%;
}
.search-add button {
  width: 35px;
}

#words-list > div {
  display: grid;
  grid-template-columns: 80px 1fr 1fr 1fr; /* 80px под номер, остальное поровну */
  gap: 10px;
  padding: 10px;
  border-bottom: 1px solid #333;
  font-size: 14px;
}

.scroll-container {
  height: calc(100vh - 125px);
  overflow-y: auto; /* Включает прокрутку */
  -webkit-overflow-scrolling: touch; /* Плавность для iOS */
  padding: 10px;
}

/* --------- */
.legend {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 2%;
  font-size: 11px;
  color: #888;
}
.legend span {
  display: flex;
  align-items: center;
  gap: 4px;
}
.legend-dot {
  width: 10px;
  height: 10px;
  border-radius: 2px;
}
.chart {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 2% 30px 0px 20px;
}
.row {
  display: flex;
  align-items: center;
  gap: 8px;
}
.row-label {
  font-size: 11px;
  font-weight: 500;
  /* color: #111; */
  width: 30px;
  flex-shrink: 0;
}
.track {
  flex: 1;
  height: 30px;
  background: #272727;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
}
.fill {
  position: absolute;
  left: 0;
  height: 10px;
  border-radius: 2px;
}
.row-nums {
  font-size: 10px;
  color: #aaa;
  width: 52px;
  text-align: right;
  flex-shrink: 0;
}
.menu-stats-total {
  margin-top: 6px;
  padding-top: 6px;
  text-align: center;
  font-size: 13px;
  /* color: #888; */
}
.menu-stats-total strong {
  /* color: #111; */
  font-weight: 500;
}

#parameters {
  width: 92%;
  background: #1a1a2e;
  padding: 6px;
  border-radius: 16px;
  color: #e0d1fa;
  margin: 5px 0;
  display: flex;
  justify-content: space-around;
}

#parameters h3 {
  font-size: 1rem;
  margin: 10px 0px 3px;
  color: #8b85c1;
  text-transform: uppercase;
  letter-spacing: 1px;
}

#parameters label {
  display: block;
  margin: 8px 0;
  cursor: pointer;
}

#parameters input[type="checkbox"] {
  accent-color: #020aff;
  margin-right: 10px;
}

/* Для горизонтальной ориентации */
@media (max-height: 415px) {
  .chart {
    padding: 1% 30px 0px 20px;
  }

  #parameters {
    margin: 2px auto;
    padding: 4px;
  }

  #parameters h3 {
    margin: 2px 0;
    font-size: 0.9rem;
  }

  #parameters label {
    font-size: 0.85rem;
    margin: 2px 0;
  }
}

/* ---------------- */

#btn-menu {
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
  width: 40px;
  height: 40px;
}
